# -------------------------------------------------------------------------------
# This file contains configuration of the audio plugin.
#   Package:                 lsp-plugins (TestCase)
#   Package version:         0.0.0-devel
#   Plugin name:             Sidechain Deesser Mono (Sidechain Deesser Mono)
#   Plugin version:          1.0.0
#   UID:                     sc_deesser_mono
#   CLAP URI:                in.lsp-plug.sc_deesser_mono
#   GStreamer identifier:    lsp-plugins-sc-deesser-mono
#   LADSPA identifier:       5002356
#   LADSPA label:            http://lsp-plug.in/plugins/ladspa/sc_deesser_mono
#   LV2 URI:                 http://lsp-plug.in/plugins/lv2/sc_deesser_mono
#   VST 2.x identifier:      DS1m
#   VST 3.x identifier:      6473702073636473316D20204453316D
# 
# (C) TestCase
#   https://lsp-plug.in/
# 
# -------------------------------------------------------------------------------

# Side-chain shared memory link [string]
link = ""

# Bypass [boolean]: true/false
bypass = false

# Input gain [G]: 0.00000000..1000.00000000
g_in = 0.00 db

# Output gain [G]: 0.00000000..1000.00000000
g_out = 0.00 db

# Graph zoom [G]: 0.12589000..1.00000000
zoom = 0.00 db

# Show pre-mix overlay [boolean]: true/false
showpmx = false

# Input to Link mix [G]: 0.00000000..10.00000000
in2lk = -inf db

# Link to Input mix [G]: 0.00000000..10.00000000
lk2in = -inf db

# Link to Sidechain mix [G]: 0.00000000..10.00000000
lk2sc = -inf db

# Input to Sidechain mix [G]: 0.00000000..10.00000000
in2sc = -inf db

# Sidechain to Input mix [G]: 0.00000000..10.00000000
sc2in = -inf db

# Sidechain to Link mix [G]: 0.00000000..10.00000000
sc2lk = -inf db

# Show sidechain overlay [boolean]: true/false
showsc = false

# Sidechain type: 0..2
#   0: Internal
#   1: External
#   2: Link
sct = 1

# Sidechain mode: 0..3
#   0: Peak
#   1: RMS
#   2: LPF
#   3: SMA
scm = 1

# Sidechain lookahead [ms]: 0.00000000..20.00000000
sla = 0.00000

# Sidechain listen [boolean]: true/false
scl = false

# Sidechain reactivity [ms]: 0.00000000..50.00000000
scr = 10.00000

# Sidechain preamp [G]: 0.00000000..100.00000000
scp = 0.00 db

# FFT reactivity [ms]: 0.00000000..1.00000000
react = 0.20000

# Shift gain [G]: 0.00000000..50.00000000
shift = 0.00 db

# Enable input FFT analysis [boolean]: true/false
ife = true

# Enable sidechain FFT analysis [boolean]: true/false
sfe = true

# Enable output FFT analysis [boolean]: true/false
ofe = true

# Enable frequency split: 0..3
#   0: Classic
#   1: Classic
#   2: Modern
#   3: Linear Phase
xsplit = 3

# Frequency split slope: 0..2
#   0: LR2 (12 dB/oct)
#   1: LR4 (24 dB/oct)
#   2: LR8 (48 dB/oct)
slope = 2

# Split frequency [Hz]: 500.00000000..4000.00000000
split = 1369.36462

# Crossover band linkage [%]: 0.00000000..100.00000000
xlink = 0.00000

# High-pass filter slope: 0..4
#   0: off
#   1: 12 dB/oct
#   2: 24 dB/oct
#   3: 36 dB/oct
#   4: 48 dB/oct
hpf_s = 1

# High-pass filter frequency [Hz]: 10.00000000..4000.00000000
hpf_f = 2000.00000

# High-pass filter qualifty factor: 0.00000000..10.00000000
hpf_q = 0.00000

# Low-pass filter slope: 0..4
#   0: off
#   1: 12 dB/oct
#   2: 24 dB/oct
#   3: 36 dB/oct
#   4: 48 dB/oct
lpf_s = 0

# Low-pass filter frequency [Hz]: 1000.00000000..24000.00000000
lpf_f = 10000.00000

# Low-pass filter qualifty factor: 0.00000000..10.00000000
lpf_q = 0.00000

# Peak filter 1 on [boolean]: true/false
pk1_on = true

# Peak filter 1 frequency [Hz]: 1000.00000000..10000.00000000
pk1_f = 2984.37549

# Peak filter 1 gain [G]: 0.06310000..15.84893036
pk1_g = 10.13 db

# Peak filter 1 qualifty factor: 0.00000000..100.00000000
pk1_q = 4.00000

# Peak filter 2 on [boolean]: true/false
pk2_on = true

# Peak filter 2 frequency [Hz]: 1000.00000000..8000.00000000
pk2_f = 4944.74951

# Peak filter 2 gain [G]: 0.06310000..15.84893036
pk2_g = -19.47 db

# Peak filter 2 qualifty factor: 0.00000000..100.00000000
pk2_q = 4.00000

# Threshold [G]: 0.00100000..1.00000000
thresh = -25.22 db

# Attack time [ms]: 0.00000000..200.00000000
att = 10.00000

# Release time [ms]: 0.00000000..400.00000000
rel = 30.00000

# Hold time [ms]: 0.00000000..100.00000000
hold = 0.00000

# Ratio: 1.00000000..100.00000000
ratio = 6.00000

# Knee [G]: 0.06310000..1.00000000
knee = -6.00 db


# -------------------------------------------------------------------------------
# KVT parameters
# -------------------------------------------------------------------------------


# -------------------------------------------------------------------------------
